*{
    margin: 0px;
    padding: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}
.container{
    width: 100%;
    overflow: hidden;
}
.container1{
    width: 600px;
    background-image: url(login.png);
    float: left;
}
.leftlogo img{
    width: 40%;
    height: 40%;
    justify-content: center;
    display: block;
    margin:20%;
}
.container2{
    background-color: black;
    padding: 36px;
    float: right;
}
.rightlogo img{
    height: 40px;
    width: 40px;
    padding-bottom: 12px;
}
#text1{
    font-size: 60px;
    font-weight: bolder;
    padding: 48px 0;
}
