*{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}
html,body{
    overflow-x: hidden;
    width: 100%;
}
.container{
    width: 100%;
    overflow: hidden;
    display: flex;
}
.container1{
    width: 270vh;
    background-image: url(login.png);
    float: left;
    image-rendering: auto;
}
.leftlogo img{
    width: 40%;
    height: 40%;
    justify-content: center;
    display: block;
    margin:20%;
}
.container2{
    background-color: black;
    padding: 36px;
    float: right;
}
.rightlogo img{
    height: 40px;
    width: 40px;
    padding-bottom: 12px;
}
.text1{
    font-size: 64px;
    font-weight: bolder;
    padding: 48px 0;
}
.footer{
    background-color: black;
}
.text2{
    font-size: 31px;
    margin: 0px 0px 32px;
}
.google{
    display: flex;
    overflow: hidden;
    align-items: center;
    color: black !important;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: relative;
    white-space: nowrap;
    font-size: 14px;
    padding:2px;
    -webkit-text-size-adjust: 100%;
    margin-bottom:10px;
}
.leftspace{
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 40px;
    width: 400px;
}
.googleprofil{
    height: 30px;
    width: 30px;
    align-items: center;
    padding:10px;
    border-radius:100% !important;
}
.name{
    color: black;
    width: 100px;
    padding-left: 10px;
}
.name1{
    color: black;
    font-weight: bold;
}
.name2{
    color: black;
}
.googleglogo{
    height: 30px;
    width: 30px;
    padding: 10px;
    border-radius: 50px;
}
.rightspace{
    width:20px;
}
.apple{
    display: flex;
    overflow: hidden;
    align-items: center;
    color: black !important;
    align-items: center;
    position: relative;
    white-space: nowrap;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
}
.applelogo{
    height: 30px;
    width: 30px;
    margin: 12px;
    margin-right: 7px;
    align-items: center;
    padding-left: 20%;
}
.appletext{
    color: black;
    font-weight: bold;
    align-items: center;
    padding: 12px;
}
.textor{
    display: flex;
    border: 0 solid black;
    box-sizing: border-box;
}
.or{
    color: white;
    position: relative;
    white-space: nowrap;
    font-size: 14px;
    -webkit-text-size-adjust: 100%;
    padding: 2px;
    width: 50px;
    align-items: center;
}
.leftspace2{
    border-radius: 40px;
    display: flex;
    height: 40px;
    width: 400px;
}
.phone{
    border-radius: 50px;
}
.leftspace3{
    border-radius: 40px;
    display: flex;
    height: 40px;
    width: 400px;
    color: white;
    background-color: rgb(39, 166, 234);
}
.phonetext{
    padding-left:20%;
    padding-right: 20%;
    padding-top: 10px;
    padding-bottom: 20px;
}
