*{
    background-color: black;
    color: white;
}
.container{
    display: flex;
    flex-direction: row;
    padding-left: 135px;
    padding-right: 135px;
}
.container1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 250px;
    height: 60px;
}
.twitterlogo{
    padding: 2px 0px;
}
.twitterlogo img{
    width: 30px;
    padding:10px;
}
.id{
    padding: 5px 0px;
    display: flex;
}
.idlogo{
    padding: 0px;
}
.idlogo img{
    width: 30px;
    padding: 10px;
}
.idname{
    padding-left: 20px;
    align-content:center ;
    font-size: 17px;
    font-weight: bolder;
}
.tweetbtn{
    margin: 0;
    padding: 0;
    display: flex;
}
.tweetbtn1{
    padding: 10px;
    border: 1px;
    border-radius: 50px;
    background-color: rgb(0, 65, 255);
    width: auto;
}
.tweetbtn1 p{
    background-color: rgb(0, 65, 255);
    margin: 0px 75px;
    align-items: center;
    justify-items: center;
    font-size: 20px;
}
.space1{
    width: 50px;
}
.bottom{
    display: flex;
    height: 100px;
    float:right;
    padding-top: 100px;
}
.userid{
    border-radius: 50px;
    border-width: 1px;
}
.userimg{
    padding: 1px;
}
.userimg img{
    width: 20px;
}
.username{
    padding-left: 20px; 
}
.doticon{
    padding-left: 10px;
    padding-right: 0px;
    margin-right:0px ;
}
.doticon img{
    width: 20px;
    padding: 2px;
    border-radius: 50px;
    border-width: 1px;
}






